build/nr/folders/flows/CL_Meters.json
[
  {
    "id": "bc469b88bbf8641e",
    "type": "tab",
    "label": "CL_Meters",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "30a87203640f65e9",
    "type": "change",
    "z": "bc469b88bbf8641e",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "ui_update.label",
        "pt": "msg",
        "to": "Power",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "ui_update.units",
        "pt": "msg",
        "to": "payload.unit",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.value",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 180,
    "wires": [
      [
        "052b63807c6f06f5",
        "ebe2dabbd7922b2f"
      ]
    ]
  },
  {
    "id": "052b63807c6f06f5",
    "type": "ui-gauge",
    "z": "bc469b88bbf8641e",
    "name": "Power",
    "group": "6e1897c297826e17",
    "order": 3,
    "width": "2",
    "height": "2",
    "gtype": "gauge-half",
    "gstyle": "needle",
    "title": "gauge",
    "units": "units",
    "icon": "",
    "prefix": "",
    "suffix": "",
    "segments": [
      {
        "from": "0",
        "color": "#5cd65c"
      },
      {
        "from": "40",
        "color": "#ffc800"
      },
      {
        "from": "70",
        "color": "#ea5353"
      }
    ],
    "min": 0,
    "max": "100",
    "sizeThickness": 16,
    "sizeGap": 4,
    "sizeKeyThickness": 8,
    "styleRounded": true,
    "styleGlow": false,
    "className": "",
    "x": 600,
    "y": 180,
    "wires": []
  },
  {
    "id": "a23af9c49881279b",
    "type": "change",
    "z": "bc469b88bbf8641e",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "ui_update.label",
        "pt": "msg",
        "to": "Current Avg",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "ui_update.units",
        "pt": "msg",
        "to": "payload.unit",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.value",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 240,
    "wires": [
      [
        "5e0ec18b139b701f",
        "8bd9e69af9df8320"
      ]
    ]
  },
  {
    "id": "5e0ec18b139b701f",
    "type": "ui-gauge",
    "z": "bc469b88bbf8641e",
    "name": "Current",
    "group": "6e1897c297826e17",
    "order": 2,
    "width": "2",
    "height": "2",
    "gtype": "gauge-half",
    "gstyle": "needle",
    "title": "gauge",
    "units": "units",
    "icon": "",
    "prefix": "",
    "suffix": "",
    "segments": [
      {
        "from": "0",
        "color": "#5cd65c"
      },
      {
        "from": "40",
        "color": "#ffc800"
      },
      {
        "from": "70",
        "color": "#ea5353"
      }
    ],
    "min": 0,
    "max": "100",
    "sizeThickness": 16,
    "sizeGap": 4,
    "sizeKeyThickness": 8,
    "styleRounded": true,
    "styleGlow": false,
    "className": "",
    "x": 610,
    "y": 260,
    "wires": []
  },
  {
    "id": "6b4469eeb0dfb68f",
    "type": "change",
    "z": "bc469b88bbf8641e",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "ui_update.label",
        "pt": "msg",
        "to": "Energy",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "ui_update.units",
        "pt": "msg",
        "to": "payload.unit",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.value",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 360,
    "wires": [
      [
        "28c268ce8dcb9f74"
      ]
    ]
  },
  {
    "id": "b73ef1d774d2eacb",
    "type": "change",
    "z": "bc469b88bbf8641e",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "ui_update.label",
        "pt": "msg",
        "to": "Voltage",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "ui_update.units",
        "pt": "msg",
        "to": "payload.unit",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.value",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 300,
    "wires": [
      [
        "ec562e26d7d3039f"
      ]
    ]
  },
  {
    "id": "ec562e26d7d3039f",
    "type": "ui-gauge",
    "z": "bc469b88bbf8641e",
    "name": "Voltage",
    "group": "6e1897c297826e17",
    "order": 1,
    "width": "2",
    "height": "2",
    "gtype": "gauge-half",
    "gstyle": "needle",
    "title": "gauge",
    "units": "units",
    "icon": "",
    "prefix": "",
    "suffix": "",
    "segments": [
      {
        "from": "0",
        "color": "#5cd65c"
      },
      {
        "from": "120",
        "color": "#ffae00"
      },
      {
        "from": "240",
        "color": "#09a8ec"
      },
      {
        "from": "1000",
        "color": "#eb04fb"
      }
    ],
    "min": 0,
    "max": "1000",
    "sizeThickness": 16,
    "sizeGap": 4,
    "sizeKeyThickness": 8,
    "styleRounded": true,
    "styleGlow": false,
    "className": "",
    "x": 610,
    "y": 300,
    "wires": []
  },
  {
    "id": "28c268ce8dcb9f74",
    "type": "ui-chart",
    "z": "bc469b88bbf8641e",
    "group": "6e1897c297826e17",
    "name": "Energy",
    "label": "chart",
    "order": 4,
    "chartType": "line",
    "category": "topic",
    "categoryType": "msg",
    "xAxisLabel": "",
    "xAxisProperty": "",
    "xAxisPropertyType": "timestamp",
    "xAxisType": "time",
    "xAxisFormat": "",
    "xAxisFormatType": "auto",
    "xmin": "",
    "xmax": "",
    "yAxisLabel": "kWh",
    "yAxisProperty": "payload",
    "yAxisPropertyType": "msg",
    "ymin": "",
    "ymax": "",
    "bins": 10,
    "action": "append",
    "stackSeries": false,
    "pointShape": "circle",
    "pointRadius": 4,
    "showLegend": true,
    "removeOlder": 1,
    "removeOlderUnit": "3600",
    "removeOlderPoints": "",
    "colors": [
      "#0095ff",
      "#ff0000",
      "#ff7f0e",
      "#2ca02c",
      "#a347e1",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "textColor": [
      "#666666"
    ],
    "textColorDefault": true,
    "gridColor": [
      "#e5e5e5"
    ],
    "gridColorDefault": true,
    "width": "2",
    "height": "6",
    "className": "",
    "interpolation": "linear",
    "x": 610,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "ebe2dabbd7922b2f",
    "type": "ui-chart",
    "z": "bc469b88bbf8641e",
    "group": "6e1897c297826e17",
    "name": "Power",
    "label": "chart",
    "order": 6,
    "chartType": "line",
    "category": "topic",
    "categoryType": "msg",
    "xAxisLabel": "",
    "xAxisProperty": "",
    "xAxisPropertyType": "timestamp",
    "xAxisType": "time",
    "xAxisFormat": "",
    "xAxisFormatType": "auto",
    "xmin": "",
    "xmax": "",
    "yAxisLabel": "kWh",
    "yAxisProperty": "payload",
    "yAxisPropertyType": "msg",
    "ymin": "",
    "ymax": "",
    "bins": 10,
    "action": "append",
    "stackSeries": false,
    "pointShape": "circle",
    "pointRadius": 4,
    "showLegend": true,
    "removeOlder": 1,
    "removeOlderUnit": "3600",
    "removeOlderPoints": "",
    "colors": [
      "#0095ff",
      "#ff0000",
      "#ff7f0e",
      "#2ca02c",
      "#a347e1",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "textColor": [
      "#666666"
    ],
    "textColorDefault": true,
    "gridColor": [
      "#e5e5e5"
    ],
    "gridColorDefault": true,
    "width": "2",
    "height": "6",
    "className": "",
    "interpolation": "linear",
    "x": 600,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "8bd9e69af9df8320",
    "type": "ui-chart",
    "z": "bc469b88bbf8641e",
    "group": "6e1897c297826e17",
    "name": "Current",
    "label": "chart",
    "order": 5,
    "chartType": "line",
    "category": "topic",
    "categoryType": "msg",
    "xAxisLabel": "",
    "xAxisProperty": "",
    "xAxisPropertyType": "timestamp",
    "xAxisType": "time",
    "xAxisFormat": "",
    "xAxisFormatType": "auto",
    "xmin": "",
    "xmax": "",
    "yAxisLabel": "kWh",
    "yAxisProperty": "payload",
    "yAxisPropertyType": "msg",
    "ymin": "",
    "ymax": "",
    "bins": 10,
    "action": "append",
    "stackSeries": false,
    "pointShape": "circle",
    "pointRadius": 4,
    "showLegend": true,
    "removeOlder": 1,
    "removeOlderUnit": "3600",
    "removeOlderPoints": "",
    "colors": [
      "#0095ff",
      "#ff0000",
      "#ff7f0e",
      "#2ca02c",
      "#a347e1",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "textColor": [
      "#666666"
    ],
    "textColorDefault": true,
    "gridColor": [
      "#e5e5e5"
    ],
    "gridColorDefault": true,
    "width": "2",
    "height": "6",
    "className": "",
    "interpolation": "linear",
    "x": 610,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "93a107ec6406b8d5",
    "type": "comment",
    "z": "bc469b88bbf8641e",
    "name": "Click on me and see information in the [i] Info tab on the right",
    "info": "# Feeding the Meters Graphs \n\nThere are 3 meter graphs: **Power, Current, Voltage, and Energy**\nEach input expects an object that contains:\n```javascript\nmsg.payload = { unit: \"xyz\", value: 123 }\n```\n\nThe link-in nodes are as follows:\n\nPower = **CL_Meters_Power**\n\nEnergy = **CL_Meters_Current**\n\nVoltage = **CL_Meters_Voltage**\n\nEnergy = **CL_Meters_Energy**\n\nFeed the input from a Link-Out node on an editable flow of your own.",
    "x": 280,
    "y": 60,
    "wires": []
  },
  {
    "id": "9dfc8b6ab6145a89",
    "type": "link in",
    "z": "bc469b88bbf8641e",
    "name": "CL_Meters_Power",
    "links": [],
    "x": 170,
    "y": 180,
    "wires": [
      [
        "30a87203640f65e9"
      ]
    ],
    "l": true
  },
  {
    "id": "cb82afdd25e47653",
    "type": "link in",
    "z": "bc469b88bbf8641e",
    "name": "CL_Meters_Current",
    "links": [],
    "x": 170,
    "y": 240,
    "wires": [
      [
        "a23af9c49881279b"
      ]
    ],
    "l": true
  },
  {
    "id": "1014b40867ed836c",
    "type": "link in",
    "z": "bc469b88bbf8641e",
    "name": "CL_Meters_Voltage",
    "links": [],
    "x": 170,
    "y": 300,
    "wires": [
      [
        "b73ef1d774d2eacb"
      ]
    ],
    "l": true
  },
  {
    "id": "06f8927e12a27f82",
    "type": "link in",
    "z": "bc469b88bbf8641e",
    "name": "CL_Meters_Energy",
    "links": [],
    "x": 170,
    "y": 360,
    "wires": [
      [
        "6b4469eeb0dfb68f"
      ]
    ],
    "l": true
  }
]