build/nr/folders/flows/CL_Settings.json
[
  {
    "id": "c4f677cd277b409d",
    "type": "tab",
    "label": "CL_Settings",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "a0e788c7caa3553c",
    "type": "junction",
    "z": "c4f677cd277b409d",
    "x": 120,
    "y": 360,
    "wires": [
      [
        "698a6796509da069",
        "d66afbbf0394df6c",
        "5d28cad788fe2095",
        "d6ba4c6d577e629a",
        "c3a52eebd3429afe",
        "933b9f955e94d549",
        "7d216fba449e2d5f",
        "1c3fe3ca23077bee",
        "c1493c7ded2b13d9",
        "0807290b7be541cc",
        "fcfd8198c00e2676"
      ]
    ]
  },
  {
    "id": "898f5d33416b458c",
    "type": "ui-number-input",
    "z": "c4f677cd277b409d",
    "group": "ace44af4012c4fc1",
    "name": "Heartbeat",
    "label": "Heartbeat Rate (seconds)",
    "order": 1,
    "width": 0,
    "height": 0,
    "topic": "topic",
    "topicType": "msg",
    "min": 0,
    "max": "86400",
    "step": 1,
    "tooltip": "",
    "passthru": true,
    "sendOnBlur": true,
    "sendOnEnter": true,
    "className": "",
    "clearable": false,
    "icon": "mdi-heart-pulse",
    "iconPosition": "left",
    "iconInnerPosition": "inside",
    "spinner": "default",
    "x": 960,
    "y": 160,
    "wires": [
      [
        "ac08ee5853b84129",
        "959222438b96af63"
      ]
    ]
  },
  {
    "id": "ac08ee5853b84129",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "num2str",
    "func": "global.set(\"CSMS:HeartbeatInterval\", msg.payload)\nmsg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1420,
    "y": 160,
    "wires": [
      [
        "30cb23a9aabbd910"
      ]
    ]
  },
  {
    "id": "7000f9956b23dcde",
    "type": "ui-number-input",
    "z": "c4f677cd277b409d",
    "group": "c48e064d37e64bbf",
    "name": "Site LoadLimit",
    "label": "Max Load Limit (Amps)",
    "order": 8,
    "width": 0,
    "height": 0,
    "topic": "topic",
    "topicType": "msg",
    "min": 0,
    "max": "86400",
    "step": 1,
    "tooltip": "Set the maximum amperage limit to maintain for your all your EVSEs (adjusted for 20% under rating if necessary)",
    "passthru": true,
    "sendOnBlur": true,
    "sendOnEnter": true,
    "className": "",
    "clearable": false,
    "icon": "mdi-meter-electric-outline",
    "iconPosition": "left",
    "iconInnerPosition": "inside",
    "spinner": "default",
    "x": 980,
    "y": 220,
    "wires": [
      [
        "20dc0388748792d5"
      ]
    ]
  },
  {
    "id": "20dc0388748792d5",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "num2str",
    "func": "global.set(\"SITE:LoadLimit\", msg.payload)\nmsg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1420,
    "y": 220,
    "wires": [
      [
        "1033f983bfcce44c"
      ]
    ]
  },
  {
    "id": "d59fede572569ae8",
    "type": "ui-switch",
    "z": "c4f677cd277b409d",
    "name": "FreeVend",
    "label": "FreeVend Mode",
    "group": "ace44af4012c4fc1",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "layout": "row-left-swapped",
    "clickableArea": "line",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 960,
    "y": 280,
    "wires": [
      [
        "22b6392a92b7af5a"
      ]
    ]
  },
  {
    "id": "22b6392a92b7af5a",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "CSMS:FreeVend",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1180,
    "y": 280,
    "wires": [
      [
        "119bc57be0dace1a"
      ]
    ]
  },
  {
    "id": "119bc57be0dace1a",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "bool2str",
    "func": "msg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1420,
    "y": 280,
    "wires": [
      [
        "7c72af9a1d100eaa"
      ]
    ]
  },
  {
    "id": "754e5e01d72b3fbd",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get heartbeat rate",
    "topic": "settings:evse:heartbeat_rate",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 630,
    "y": 160,
    "wires": [
      [
        "73913870b6bbee44"
      ]
    ]
  },
  {
    "id": "73913870b6bbee44",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2num",
    "func": "if (msg?.payload){\n    msg.payload = Number(msg.payload)\n}\nelse {\n    msg.payload = 120\n}\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 160,
    "wires": [
      [
        "898f5d33416b458c"
      ]
    ]
  },
  {
    "id": "a7fd3a800d49469d",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "set site load limit",
    "topic": "settings:site:load_limit",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 620,
    "y": 220,
    "wires": [
      [
        "d6ed3f773625f10c"
      ]
    ]
  },
  {
    "id": "d6ed3f773625f10c",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2num",
    "func": "if (msg?.payload){\n    msg.payload = Number(msg.payload)\n}\nelse {\n    msg.payload = 100\n}\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 220,
    "wires": [
      [
        "7000f9956b23dcde"
      ]
    ]
  },
  {
    "id": "9a553400c62662a4",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get FreeVend",
    "topic": "settings:site:free_vend",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 620,
    "y": 280,
    "wires": [
      [
        "2b07e761244ab2ed"
      ]
    ]
  },
  {
    "id": "2b07e761244ab2ed",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2bool",
    "func": "if (msg?.payload){\n    msg.payload = msg.payload == \"true\"\n}\nelse {\n    msg.payload = false\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 280,
    "wires": [
      [
        "d59fede572569ae8"
      ]
    ]
  },
  {
    "id": "47c4718f596acff4",
    "type": "inject",
    "z": "c4f677cd277b409d",
    "name": "Prime",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 250,
    "y": 100,
    "wires": [
      [
        "9460a6cb7347f787"
      ]
    ]
  },
  {
    "id": "fcba4c1e92563751",
    "type": "link in",
    "z": "c4f677cd277b409d",
    "name": "link in 1",
    "links": [
      "9460a6cb7347f787"
    ],
    "x": 85,
    "y": 360,
    "wires": [
      [
        "a0e788c7caa3553c"
      ]
    ]
  },
  {
    "id": "9460a6cb7347f787",
    "type": "link out",
    "z": "c4f677cd277b409d",
    "name": "link out 20",
    "mode": "link",
    "links": [
      "fcba4c1e92563751"
    ],
    "x": 345,
    "y": 100,
    "wires": []
  },
  {
    "id": "6bdcde6369d7a4b4",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get ShowBanner",
    "topic": "settings:site:show_banner",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 630,
    "y": 340,
    "wires": [
      [
        "d9da991ba26f4cb9"
      ]
    ]
  },
  {
    "id": "d9da991ba26f4cb9",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2bool",
    "func": "if (msg?.payload) {\n    msg.payload = (msg?.payload.toLowerCase() === 'true');\n}\nelse {\n    msg.payload = true\n}\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 340,
    "wires": [
      [
        "e5c9c7caaa758ba6"
      ]
    ]
  },
  {
    "id": "e5c9c7caaa758ba6",
    "type": "ui-switch",
    "z": "c4f677cd277b409d",
    "name": "ShowBanner",
    "label": "Show Home Page Banner",
    "group": "c48e064d37e64bbf",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "layout": "row-left-swapped",
    "clickableArea": "line",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 970,
    "y": 340,
    "wires": [
      [
        "9b3d26af73349aa3"
      ]
    ]
  },
  {
    "id": "9b3d26af73349aa3",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "CSMS:ShowBanner",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1190,
    "y": 340,
    "wires": [
      [
        "2f5b237b308259e4"
      ]
    ]
  },
  {
    "id": "2f5b237b308259e4",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "bool2str",
    "func": "msg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1420,
    "y": 340,
    "wires": [
      [
        "ddf22f50d230f4c3"
      ]
    ]
  },
  {
    "id": "2865264d3a083b92",
    "type": "ui-text-input",
    "z": "c4f677cd277b409d",
    "group": "c48e064d37e64bbf",
    "name": "",
    "label": "Banner URL:",
    "order": 7,
    "width": 0,
    "height": 0,
    "topic": "topic",
    "topicType": "msg",
    "mode": "text",
    "tooltip": "",
    "delay": 300,
    "passthru": true,
    "sendOnDelay": false,
    "sendOnBlur": true,
    "sendOnEnter": true,
    "className": "",
    "clearable": false,
    "sendOnClear": false,
    "icon": "",
    "iconPosition": "left",
    "iconInnerPosition": "inside",
    "x": 970,
    "y": 400,
    "wires": [
      [
        "3be95eeae5f0a952"
      ]
    ]
  },
  {
    "id": "039d0809d7c54de3",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get BannerURL",
    "topic": "settings:site:banner_url",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 620,
    "y": 400,
    "wires": [
      [
        "2865264d3a083b92"
      ]
    ]
  },
  {
    "id": "effb1e3caf4af0f1",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "CSMS:BannerURL",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1380,
    "y": 400,
    "wires": [
      [
        "f13911f605fc0f8e"
      ]
    ]
  },
  {
    "id": "75b51ecec0628924",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get MVSampleRate",
    "topic": "settings:evse:mvsampleinterval",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 630,
    "y": 460,
    "wires": [
      [
        "be79b6ceff0f3e99"
      ]
    ]
  },
  {
    "id": "be79b6ceff0f3e99",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2num",
    "func": "if (msg?.payload){\n    msg.payload = Number(msg.payload)\n}\nelse {\n    msg.payload = 60\n}\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 460,
    "wires": [
      [
        "10d82e3acebc28c9"
      ]
    ]
  },
  {
    "id": "10d82e3acebc28c9",
    "type": "ui-number-input",
    "z": "c4f677cd277b409d",
    "group": "ace44af4012c4fc1",
    "name": "MV Interval",
    "label": "Meter Value Sample Interval (seconds)",
    "order": 2,
    "width": 0,
    "height": 0,
    "topic": "topic",
    "topicType": "msg",
    "min": 0,
    "max": "86400",
    "step": 1,
    "tooltip": "",
    "passthru": true,
    "sendOnBlur": true,
    "sendOnEnter": true,
    "className": "",
    "clearable": false,
    "icon": "mdi-view-week",
    "iconPosition": "left",
    "iconInnerPosition": "inside",
    "spinner": "default",
    "x": 970,
    "y": 460,
    "wires": [
      [
        "1749deab15469733"
      ]
    ]
  },
  {
    "id": "1749deab15469733",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "num2str",
    "func": "global.set(\"CSMS:MVSampleInterval\", msg.payload)\nmsg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1140,
    "y": 460,
    "wires": [
      [
        "1f01af88f0c11495"
      ]
    ]
  },
  {
    "id": "fb0a4e143e0f32de",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get ShowMeters",
    "topic": "settings:site:show_meters",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 620,
    "y": 520,
    "wires": [
      [
        "f751c51525b9a588"
      ]
    ]
  },
  {
    "id": "f751c51525b9a588",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2bool",
    "func": "if (msg?.paylaod) {\nmsg.payload = (msg?.payload.toLowerCase() === 'true');\n}\nelse {\n    msg.payload = false\n}\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 520,
    "wires": [
      [
        "3e51ec5aad79e4b4"
      ]
    ]
  },
  {
    "id": "3e51ec5aad79e4b4",
    "type": "ui-switch",
    "z": "c4f677cd277b409d",
    "name": "ShowMeters",
    "label": "Show Meters Page",
    "group": "c48e064d37e64bbf",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "layout": "row-left-swapped",
    "clickableArea": "line",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 970,
    "y": 520,
    "wires": [
      [
        "44c6f7b6e8c6c2c0"
      ]
    ]
  },
  {
    "id": "44c6f7b6e8c6c2c0",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "CSMS:ShowMeters",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1190,
    "y": 520,
    "wires": [
      [
        "885b6e8bcbe1d24b",
        "6987223118a808f4"
      ]
    ]
  },
  {
    "id": "885b6e8bcbe1d24b",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "bool2str",
    "func": "msg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1420,
    "y": 520,
    "wires": [
      [
        "b107b0ad02ee8dc9"
      ]
    ]
  },
  {
    "id": "6987223118a808f4",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "show/hide Meters Page",
    "func": "let x = msg.payload\n\nmsg = {}\n\nif (x == true){\n    msg.payload = {\n        pages: { show: [\"Meters\"]}\n    }\n}\nelse {\n    msg.payload = {\n        pages: { hide: [\"Meters\"]}\n    }\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1450,
    "y": 580,
    "wires": [
      [
        "667eb387ade36ccc"
      ]
    ]
  },
  {
    "id": "667eb387ade36ccc",
    "type": "ui-control",
    "z": "c4f677cd277b409d",
    "name": "",
    "ui": "8cdc313c9611f13f",
    "events": "all",
    "x": 1640,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "dfe32902741b4462",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get ShowMap",
    "topic": "settings:site:show_map",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 640,
    "y": 660,
    "wires": [
      [
        "1b555c160e8aa0eb"
      ]
    ]
  },
  {
    "id": "1b555c160e8aa0eb",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2bool",
    "func": "if (msg?.payload) {\n    msg.payload = (msg?.payload.toLowerCase() === 'true');\n}\nelse {\n    msg.payload = true\n}\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 820,
    "y": 660,
    "wires": [
      [
        "2d740621d91ae205"
      ]
    ]
  },
  {
    "id": "2d740621d91ae205",
    "type": "ui-switch",
    "z": "c4f677cd277b409d",
    "name": "ShowMap",
    "label": "Show Home Page Map",
    "group": "c48e064d37e64bbf",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "layout": "row-left-swapped",
    "clickableArea": "line",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 960,
    "y": 660,
    "wires": [
      [
        "c30ab1f3c6b40614"
      ]
    ]
  },
  {
    "id": "c30ab1f3c6b40614",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "CSMS:ShowMap",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1200,
    "y": 660,
    "wires": [
      [
        "a34826a6ffc61fbc"
      ]
    ]
  },
  {
    "id": "a34826a6ffc61fbc",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "bool2str",
    "func": "msg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1440,
    "y": 660,
    "wires": [
      [
        "f0c3fb074577c4c8"
      ]
    ]
  },
  {
    "id": "18e6c9e77140a8fc",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get ShowGraphCnt",
    "topic": "settings:site:show_graph_cnt",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 650,
    "y": 720,
    "wires": [
      [
        "edfdfd830d98ce95"
      ]
    ]
  },
  {
    "id": "edfdfd830d98ce95",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2bool",
    "func": "if (msg?.payload) {\n    msg.payload = (msg?.payload.toLowerCase() === 'true');\n}\nelse {\n    msg.payload = true\n}\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 820,
    "y": 720,
    "wires": [
      [
        "8ee3142b6bad2847"
      ]
    ]
  },
  {
    "id": "8ee3142b6bad2847",
    "type": "ui-switch",
    "z": "c4f677cd277b409d",
    "name": "ShowCurrentGraph",
    "label": "Show Home Page Current Graph",
    "group": "c48e064d37e64bbf",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "layout": "row-left-swapped",
    "clickableArea": "line",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 990,
    "y": 720,
    "wires": [
      [
        "53c569268ad4fd09"
      ]
    ]
  },
  {
    "id": "53c569268ad4fd09",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "CSMS:ShowCurrentGraph",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1250,
    "y": 720,
    "wires": [
      [
        "142237413ab57822"
      ]
    ]
  },
  {
    "id": "142237413ab57822",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "bool2str",
    "func": "msg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1480,
    "y": 720,
    "wires": [
      [
        "441951600880f2db"
      ]
    ]
  },
  {
    "id": "c10702a72a0cb5b0",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get ShowGraphPwr",
    "topic": "settings:site:show_graph:power",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 650,
    "y": 780,
    "wires": [
      [
        "16163f173f4ddae5"
      ]
    ]
  },
  {
    "id": "16163f173f4ddae5",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2bool",
    "func": "if (msg?.payload) {\n    msg.payload = (msg?.payload.toLowerCase() === 'true');\n}\nelse {\n    msg.payload = true\n}\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 820,
    "y": 780,
    "wires": [
      [
        "0ebeed67fd27c4bf"
      ]
    ]
  },
  {
    "id": "0ebeed67fd27c4bf",
    "type": "ui-switch",
    "z": "c4f677cd277b409d",
    "name": "ShowPowerGraph",
    "label": "Show Home Page Power Graph",
    "group": "c48e064d37e64bbf",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "layout": "row-left-swapped",
    "clickableArea": "line",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 990,
    "y": 780,
    "wires": [
      [
        "d7d6bc36a2c985ee"
      ]
    ]
  },
  {
    "id": "d7d6bc36a2c985ee",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "CSMS:ShowPowerGraph",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1240,
    "y": 780,
    "wires": [
      [
        "45a7caf34a0aa0a9"
      ]
    ]
  },
  {
    "id": "45a7caf34a0aa0a9",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "bool2str",
    "func": "msg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1460,
    "y": 780,
    "wires": [
      [
        "480bdeee311765ad"
      ]
    ]
  },
  {
    "id": "3be95eeae5f0a952",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "function 8",
    "func": "if (!msg?.payload) msg.payload = \"/assets/cl3.png\"\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1140,
    "y": 400,
    "wires": [
      [
        "effb1e3caf4af0f1"
      ]
    ]
  },
  {
    "id": "3725b2b36c502e29",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get EnableDefaultSCM",
    "topic": "settings:site:enable_default_scm",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 640,
    "y": 840,
    "wires": [
      [
        "fc6040ef2a2feafa"
      ]
    ]
  },
  {
    "id": "fc6040ef2a2feafa",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2bool",
    "func": "if (msg?.payload) {\n    msg.payload = (msg?.payload.toLowerCase() === 'true');\n}\nelse {\n    msg.payload = false\n}\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 820,
    "y": 840,
    "wires": [
      [
        "d4961bcdbf1df7c1"
      ]
    ]
  },
  {
    "id": "d4961bcdbf1df7c1",
    "type": "ui-switch",
    "z": "c4f677cd277b409d",
    "name": "EnableDefaultSCM",
    "label": "Enable Default Smart Charge Management",
    "group": "c48e064d37e64bbf",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "layout": "row-left-swapped",
    "clickableArea": "line",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 990,
    "y": 840,
    "wires": [
      [
        "1cdf82507ba2693f"
      ]
    ]
  },
  {
    "id": "1cdf82507ba2693f",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "SITE:EnableDefautlSCM",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1240,
    "y": 840,
    "wires": [
      [
        "d802f3505069f562"
      ]
    ]
  },
  {
    "id": "d802f3505069f562",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "bool2str",
    "func": "msg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1460,
    "y": 840,
    "wires": [
      [
        "3a15a4487d4e2f88"
      ]
    ]
  },
  {
    "id": "959222438b96af63",
    "type": "debug",
    "z": "c4f677cd277b409d",
    "name": "debug 11",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1180,
    "y": 40,
    "wires": []
  },
  {
    "id": "698a6796509da069",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "settings:evse:heartbeat_rate",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 160,
    "wires": [
      [
        "754e5e01d72b3fbd"
      ]
    ]
  },
  {
    "id": "d66afbbf0394df6c",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "settings:site:load_limit",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 432,
    "y": 220,
    "wires": [
      [
        "a7fd3a800d49469d"
      ]
    ]
  },
  {
    "id": "5d28cad788fe2095",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "settings:site:free_vend",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 280,
    "wires": [
      [
        "9a553400c62662a4"
      ]
    ]
  },
  {
    "id": "d6ba4c6d577e629a",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "settings:site:show_banner",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 340,
    "wires": [
      [
        "6bdcde6369d7a4b4"
      ]
    ]
  },
  {
    "id": "c3a52eebd3429afe",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "settings:site:banner_url",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 400,
    "wires": [
      [
        "039d0809d7c54de3"
      ]
    ]
  },
  {
    "id": "933b9f955e94d549",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "settings:evse:mvsampleinterval",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 460,
    "wires": [
      [
        "75b51ecec0628924"
      ]
    ]
  },
  {
    "id": "7d216fba449e2d5f",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "settings:site:show_meters",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 520,
    "wires": [
      [
        "fb0a4e143e0f32de"
      ]
    ]
  },
  {
    "id": "1c3fe3ca23077bee",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "settings:site:show_map",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 660,
    "wires": [
      [
        "dfe32902741b4462"
      ]
    ]
  },
  {
    "id": "c1493c7ded2b13d9",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "settings:site:show_graph:current",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 720,
    "wires": [
      [
        "18e6c9e77140a8fc"
      ]
    ]
  },
  {
    "id": "0807290b7be541cc",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "settings:site:show_graph:power",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 780,
    "wires": [
      [
        "c10702a72a0cb5b0"
      ]
    ]
  },
  {
    "id": "fcfd8198c00e2676",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "settings:site:enable_default_scm",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 840,
    "wires": [
      [
        "3725b2b36c502e29"
      ]
    ]
  },
  {
    "id": "cf907099e432d190",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "SET",
    "name": "save settings",
    "topic": "settings:evse:heartbeat_rate",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 2010,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "0a03b88372db3269",
    "type": "link in",
    "z": "c4f677cd277b409d",
    "name": "link in 4",
    "links": [
      "30cb23a9aabbd910",
      "1033f983bfcce44c",
      "7c72af9a1d100eaa",
      "ddf22f50d230f4c3",
      "b107b0ad02ee8dc9",
      "f0c3fb074577c4c8",
      "441951600880f2db",
      "480bdeee311765ad",
      "3a15a4487d4e2f88",
      "1f01af88f0c11495",
      "f13911f605fc0f8e"
    ],
    "x": 1895,
    "y": 500,
    "wires": [
      [
        "cf907099e432d190",
        "3f3a2f73f897fe4b",
        "8b988ae8151385da"
      ]
    ]
  },
  {
    "id": "30cb23a9aabbd910",
    "type": "link out",
    "z": "c4f677cd277b409d",
    "name": "link out 47",
    "mode": "link",
    "links": [
      "0a03b88372db3269"
    ],
    "x": 1575,
    "y": 160,
    "wires": []
  },
  {
    "id": "1033f983bfcce44c",
    "type": "link out",
    "z": "c4f677cd277b409d",
    "name": "link out 48",
    "mode": "link",
    "links": [
      "0a03b88372db3269"
    ],
    "x": 1575,
    "y": 220,
    "wires": []
  },
  {
    "id": "7c72af9a1d100eaa",
    "type": "link out",
    "z": "c4f677cd277b409d",
    "name": "link out 50",
    "mode": "link",
    "links": [
      "0a03b88372db3269"
    ],
    "x": 1575,
    "y": 280,
    "wires": []
  },
  {
    "id": "ddf22f50d230f4c3",
    "type": "link out",
    "z": "c4f677cd277b409d",
    "name": "link out 58",
    "mode": "link",
    "links": [
      "0a03b88372db3269"
    ],
    "x": 1575,
    "y": 340,
    "wires": []
  },
  {
    "id": "b107b0ad02ee8dc9",
    "type": "link out",
    "z": "c4f677cd277b409d",
    "name": "link out 59",
    "mode": "link",
    "links": [
      "0a03b88372db3269"
    ],
    "x": 1575,
    "y": 520,
    "wires": []
  },
  {
    "id": "f0c3fb074577c4c8",
    "type": "link out",
    "z": "c4f677cd277b409d",
    "name": "link out 60",
    "mode": "link",
    "links": [
      "0a03b88372db3269"
    ],
    "x": 1585,
    "y": 660,
    "wires": []
  },
  {
    "id": "441951600880f2db",
    "type": "link out",
    "z": "c4f677cd277b409d",
    "name": "link out 61",
    "mode": "link",
    "links": [
      "0a03b88372db3269"
    ],
    "x": 1585,
    "y": 720,
    "wires": []
  },
  {
    "id": "480bdeee311765ad",
    "type": "link out",
    "z": "c4f677cd277b409d",
    "name": "link out 62",
    "mode": "link",
    "links": [
      "0a03b88372db3269"
    ],
    "x": 1585,
    "y": 780,
    "wires": []
  },
  {
    "id": "3a15a4487d4e2f88",
    "type": "link out",
    "z": "c4f677cd277b409d",
    "name": "link out 63",
    "mode": "link",
    "links": [
      "0a03b88372db3269"
    ],
    "x": 1585,
    "y": 840,
    "wires": []
  },
  {
    "id": "8b988ae8151385da",
    "type": "redis-out",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "publish",
    "name": "Publish",
    "topic": "",
    "obj": true,
    "x": 2080,
    "y": 580,
    "wires": []
  },
  {
    "id": "3f3a2f73f897fe4b",
    "type": "debug",
    "z": "c4f677cd277b409d",
    "name": "debug 9",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "topic",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 2050,
    "y": 660,
    "wires": []
  },
  {
    "id": "1f01af88f0c11495",
    "type": "link out",
    "z": "c4f677cd277b409d",
    "name": "link out 64",
    "mode": "link",
    "links": [
      "0a03b88372db3269"
    ],
    "x": 1305,
    "y": 460,
    "wires": []
  },
  {
    "id": "f13911f605fc0f8e",
    "type": "link out",
    "z": "c4f677cd277b409d",
    "name": "link out 65",
    "mode": "link",
    "links": [
      "0a03b88372db3269"
    ],
    "x": 1575,
    "y": 400,
    "wires": []
  }
]