build/nr/folders/flows/CL_Settings.json
[
  {
    "id": "c4f677cd277b409d",
    "type": "tab",
    "label": "CL_Settings",
    "disabled": false,
    "locked": true,
    "info": "",
    "env": []
  },
  {
    "id": "7738416e1b659cd6",
    "type": "junction",
    "z": "c4f677cd277b409d",
    "x": 100,
    "y": 300,
    "wires": [
      [
        "a7fd3a800d49469d",
        "754e5e01d72b3fbd",
        "9a553400c62662a4",
        "6bdcde6369d7a4b4",
        "039d0809d7c54de3",
        "75b51ecec0628924",
        "fb0a4e143e0f32de",
        "dfe32902741b4462",
        "18e6c9e77140a8fc",
        "c10702a72a0cb5b0"
      ]
    ]
  },
  {
    "id": "898f5d33416b458c",
    "type": "ui-number-input",
    "z": "c4f677cd277b409d",
    "group": "ace44af4012c4fc1",
    "name": "Heartbeat",
    "label": "Heartbeat Rate (seconds)",
    "order": 1,
    "width": 0,
    "height": 0,
    "topic": "heartbeat",
    "topicType": "msg",
    "min": 0,
    "max": "86400",
    "step": 1,
    "tooltip": "",
    "passthru": true,
    "sendOnBlur": true,
    "sendOnEnter": true,
    "className": "",
    "clearable": false,
    "icon": "mdi-heart-pulse",
    "iconPosition": "left",
    "iconInnerPosition": "inside",
    "spinner": "default",
    "x": 620,
    "y": 160,
    "wires": [
      [
        "ac08ee5853b84129"
      ]
    ]
  },
  {
    "id": "242a9e9f7655ccdb",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "SET",
    "name": "set heartbeat rate",
    "topic": "settings:evse:heartbeat_rate",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 1270,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "ac08ee5853b84129",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "num2str",
    "func": "global.set(\"CSMS:HeartbeatInterval\", msg.payload)\nmsg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 160,
    "wires": [
      [
        "242a9e9f7655ccdb"
      ]
    ]
  },
  {
    "id": "7000f9956b23dcde",
    "type": "ui-number-input",
    "z": "c4f677cd277b409d",
    "group": "c48e064d37e64bbf",
    "name": "Site LoadLimit",
    "label": "Max Load Limit (Amps)",
    "order": 7,
    "width": 0,
    "height": 0,
    "topic": "heartbeat",
    "topicType": "msg",
    "min": 0,
    "max": "86400",
    "step": 1,
    "tooltip": "Set the maximum amperage limit to maintain for your all your EVSEs (adjusted for 20% under rating if necessary)",
    "passthru": true,
    "sendOnBlur": true,
    "sendOnEnter": true,
    "className": "",
    "clearable": false,
    "icon": "mdi-meter-electric-outline",
    "iconPosition": "left",
    "iconInnerPosition": "inside",
    "spinner": "default",
    "x": 640,
    "y": 220,
    "wires": [
      [
        "20dc0388748792d5"
      ]
    ]
  },
  {
    "id": "1e9fb8f4a3750ee5",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "SET",
    "name": "set site load limit",
    "topic": "settings:site:load_limit",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 1260,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "20dc0388748792d5",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "num2str",
    "func": "global.set(\"SITE:LoadLimit\", msg.payload)\nmsg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 220,
    "wires": [
      [
        "1e9fb8f4a3750ee5"
      ]
    ]
  },
  {
    "id": "d59fede572569ae8",
    "type": "ui-switch",
    "z": "c4f677cd277b409d",
    "name": "FreeVend",
    "label": "FreeVend Mode",
    "group": "ace44af4012c4fc1",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "layout": "row-left-swapped",
    "clickableArea": "line",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 620,
    "y": 280,
    "wires": [
      [
        "22b6392a92b7af5a"
      ]
    ]
  },
  {
    "id": "22b6392a92b7af5a",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "CSMS:FreeVend",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 840,
    "y": 280,
    "wires": [
      [
        "119bc57be0dace1a"
      ]
    ]
  },
  {
    "id": "d7539d9175e7a289",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "SET",
    "name": "set FreeVend",
    "topic": "settings:site:free_vend",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 1250,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "119bc57be0dace1a",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "bool2str",
    "func": "msg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1080,
    "y": 280,
    "wires": [
      [
        "d7539d9175e7a289"
      ]
    ]
  },
  {
    "id": "754e5e01d72b3fbd",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get heartbeat rate",
    "topic": "settings:evse:heartbeat_rate",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 290,
    "y": 160,
    "wires": [
      [
        "73913870b6bbee44"
      ]
    ]
  },
  {
    "id": "73913870b6bbee44",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2num",
    "func": "if (msg?.payload){\n    msg.payload = Number(msg.payload)\n}\nelse {\n    msg.payload = 120\n}\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 160,
    "wires": [
      [
        "898f5d33416b458c"
      ]
    ]
  },
  {
    "id": "a7fd3a800d49469d",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "set site load limit",
    "topic": "settings:site:load_limit",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 280,
    "y": 220,
    "wires": [
      [
        "d6ed3f773625f10c"
      ]
    ]
  },
  {
    "id": "d6ed3f773625f10c",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2num",
    "func": "if (msg?.payload){\n    msg.payload = Number(msg.payload)\n}\nelse {\n    msg.payload = 100\n}\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 220,
    "wires": [
      [
        "7000f9956b23dcde"
      ]
    ]
  },
  {
    "id": "9a553400c62662a4",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get FreeVend",
    "topic": "settings:site:free_vend",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 280,
    "y": 280,
    "wires": [
      [
        "2b07e761244ab2ed"
      ]
    ]
  },
  {
    "id": "2b07e761244ab2ed",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2bool",
    "func": "if (msg?.payload){\n    msg.payload = msg.payload == \"true\"\n    return msg;\n}",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 280,
    "wires": [
      [
        "d59fede572569ae8"
      ]
    ]
  },
  {
    "id": "47c4718f596acff4",
    "type": "inject",
    "z": "c4f677cd277b409d",
    "name": "Prime",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 250,
    "y": 100,
    "wires": [
      [
        "9460a6cb7347f787"
      ]
    ]
  },
  {
    "id": "fcba4c1e92563751",
    "type": "link in",
    "z": "c4f677cd277b409d",
    "name": "link in 1",
    "links": [
      "9460a6cb7347f787"
    ],
    "x": 65,
    "y": 300,
    "wires": [
      [
        "7738416e1b659cd6"
      ]
    ]
  },
  {
    "id": "9460a6cb7347f787",
    "type": "link out",
    "z": "c4f677cd277b409d",
    "name": "link out 20",
    "mode": "link",
    "links": [
      "fcba4c1e92563751"
    ],
    "x": 345,
    "y": 100,
    "wires": []
  },
  {
    "id": "6bdcde6369d7a4b4",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get ShowBanner",
    "topic": "settings:site:show_banner",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 290,
    "y": 340,
    "wires": [
      [
        "d9da991ba26f4cb9"
      ]
    ]
  },
  {
    "id": "d9da991ba26f4cb9",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2bool",
    "func": "msg.payload = (msg?.payload?.toLowerCase() === 'true');\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 340,
    "wires": [
      [
        "e5c9c7caaa758ba6"
      ]
    ]
  },
  {
    "id": "e5c9c7caaa758ba6",
    "type": "ui-switch",
    "z": "c4f677cd277b409d",
    "name": "ShowBanner",
    "label": "Show Home Page Banner",
    "group": "c48e064d37e64bbf",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "layout": "row-left-swapped",
    "clickableArea": "line",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 630,
    "y": 340,
    "wires": [
      [
        "9b3d26af73349aa3"
      ]
    ]
  },
  {
    "id": "9b3d26af73349aa3",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "CSMS:ShowBanner",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 850,
    "y": 340,
    "wires": [
      [
        "2f5b237b308259e4",
        "4f2eb882456520c0"
      ]
    ]
  },
  {
    "id": "2f5b237b308259e4",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "bool2str",
    "func": "msg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1080,
    "y": 340,
    "wires": [
      [
        "cdc21d885376925c"
      ]
    ]
  },
  {
    "id": "cdc21d885376925c",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "SET",
    "name": "set ShowBanner",
    "topic": "settings:site:show_banner",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 1260,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "2865264d3a083b92",
    "type": "ui-text-input",
    "z": "c4f677cd277b409d",
    "group": "c48e064d37e64bbf",
    "name": "",
    "label": "Banner URL:",
    "order": 6,
    "width": 0,
    "height": 0,
    "topic": "topic",
    "topicType": "msg",
    "mode": "text",
    "tooltip": "",
    "delay": 300,
    "passthru": true,
    "sendOnDelay": false,
    "sendOnBlur": true,
    "sendOnEnter": true,
    "className": "",
    "clearable": false,
    "sendOnClear": false,
    "icon": "",
    "iconPosition": "left",
    "iconInnerPosition": "inside",
    "x": 630,
    "y": 400,
    "wires": [
      [
        "3be95eeae5f0a952"
      ]
    ]
  },
  {
    "id": "039d0809d7c54de3",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get BannerURL",
    "topic": "settings:site:banner_url",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 280,
    "y": 400,
    "wires": [
      [
        "2865264d3a083b92"
      ]
    ]
  },
  {
    "id": "effb1e3caf4af0f1",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "CSMS:BannerURL",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1040,
    "y": 400,
    "wires": [
      [
        "032974aac4851b85",
        "4f2eb882456520c0"
      ]
    ]
  },
  {
    "id": "032974aac4851b85",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "SET",
    "name": "set BannerURL",
    "topic": "settings:site:banner_url",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 1260,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "75b51ecec0628924",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get MVSampleRate",
    "topic": "settings:evse:mvsampleinterval",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 290,
    "y": 460,
    "wires": [
      [
        "be79b6ceff0f3e99"
      ]
    ]
  },
  {
    "id": "be79b6ceff0f3e99",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2num",
    "func": "if (msg?.payload){\n    msg.payload = Number(msg.payload)\n}\nelse {\n    msg.payload = 60\n}\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 460,
    "wires": [
      [
        "10d82e3acebc28c9"
      ]
    ]
  },
  {
    "id": "10d82e3acebc28c9",
    "type": "ui-number-input",
    "z": "c4f677cd277b409d",
    "group": "ace44af4012c4fc1",
    "name": "MV Interval",
    "label": "Meter Value Sample Interval (seconds)",
    "order": 2,
    "width": 0,
    "height": 0,
    "topic": "heartbeat",
    "topicType": "msg",
    "min": 0,
    "max": "86400",
    "step": 1,
    "tooltip": "",
    "passthru": true,
    "sendOnBlur": true,
    "sendOnEnter": true,
    "className": "",
    "clearable": false,
    "icon": "mdi-view-week",
    "iconPosition": "left",
    "iconInnerPosition": "inside",
    "spinner": "default",
    "x": 630,
    "y": 460,
    "wires": [
      [
        "1749deab15469733"
      ]
    ]
  },
  {
    "id": "1749deab15469733",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "num2str",
    "func": "global.set(\"CSMS:MVSampleInterval\", msg.payload)\nmsg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 460,
    "wires": [
      [
        "fb57c8aef67fde6a"
      ]
    ]
  },
  {
    "id": "fb57c8aef67fde6a",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "SET",
    "name": "set MVSampleRate",
    "topic": "settings:evse:mvsampleinterval",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 1270,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "4f2eb882456520c0",
    "type": "link out",
    "z": "c4f677cd277b409d",
    "name": "link out 50",
    "mode": "link",
    "links": [
      "f4cb836a36b77b75"
    ],
    "x": 1525,
    "y": 400,
    "wires": []
  },
  {
    "id": "fb0a4e143e0f32de",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get ShowMeters",
    "topic": "settings:site:show_meters",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 280,
    "y": 520,
    "wires": [
      [
        "f751c51525b9a588"
      ]
    ]
  },
  {
    "id": "f751c51525b9a588",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2bool",
    "func": "msg.payload = (msg?.payload?.toLowerCase() === 'true');\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 520,
    "wires": [
      [
        "3e51ec5aad79e4b4"
      ]
    ]
  },
  {
    "id": "3e51ec5aad79e4b4",
    "type": "ui-switch",
    "z": "c4f677cd277b409d",
    "name": "ShowMeters",
    "label": "Show Meters Page",
    "group": "c48e064d37e64bbf",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "layout": "row-left-swapped",
    "clickableArea": "line",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 630,
    "y": 520,
    "wires": [
      [
        "44c6f7b6e8c6c2c0"
      ]
    ]
  },
  {
    "id": "44c6f7b6e8c6c2c0",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "CSMS:ShowMeters",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 850,
    "y": 520,
    "wires": [
      [
        "885b6e8bcbe1d24b",
        "6987223118a808f4"
      ]
    ]
  },
  {
    "id": "885b6e8bcbe1d24b",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "bool2str",
    "func": "msg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1080,
    "y": 520,
    "wires": [
      [
        "323c7dc47a709281"
      ]
    ]
  },
  {
    "id": "323c7dc47a709281",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "SET",
    "name": "set ShowMeters",
    "topic": "settings:site:show_meters",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 1260,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "6987223118a808f4",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "show/hide Meters Page",
    "func": "let x = msg.payload\n\nmsg = {}\n\nif (x == true){\n    msg.payload = {\n        pages: { show: [\"Meters\"]}\n    }\n}\nelse {\n    msg.payload = {\n        pages: { hide: [\"Meters\"]}\n    }\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1110,
    "y": 580,
    "wires": [
      [
        "667eb387ade36ccc"
      ]
    ]
  },
  {
    "id": "667eb387ade36ccc",
    "type": "ui-control",
    "z": "c4f677cd277b409d",
    "name": "",
    "ui": "8cdc313c9611f13f",
    "events": "all",
    "x": 1300,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "dfe32902741b4462",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get ShowMap",
    "topic": "settings:site:show_map",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 300,
    "y": 660,
    "wires": [
      [
        "1b555c160e8aa0eb"
      ]
    ]
  },
  {
    "id": "1b555c160e8aa0eb",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2bool",
    "func": "msg.payload = (msg?.payload?.toLowerCase() === 'true');\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 660,
    "wires": [
      [
        "2d740621d91ae205"
      ]
    ]
  },
  {
    "id": "2d740621d91ae205",
    "type": "ui-switch",
    "z": "c4f677cd277b409d",
    "name": "ShowMap",
    "label": "Show Home Page Map",
    "group": "c48e064d37e64bbf",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "layout": "row-left-swapped",
    "clickableArea": "line",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 640,
    "y": 660,
    "wires": [
      [
        "c30ab1f3c6b40614"
      ]
    ]
  },
  {
    "id": "c30ab1f3c6b40614",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "CSMS:ShowMap",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 660,
    "wires": [
      [
        "a34826a6ffc61fbc",
        "4f2eb882456520c0"
      ]
    ]
  },
  {
    "id": "a34826a6ffc61fbc",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "bool2str",
    "func": "msg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1100,
    "y": 660,
    "wires": [
      [
        "fee4aff2afcaa058"
      ]
    ]
  },
  {
    "id": "fee4aff2afcaa058",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "SET",
    "name": "set ShowMap",
    "topic": "settings:site:show_map",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 1280,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "18e6c9e77140a8fc",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get ShowGraphCnt",
    "topic": "settings:site:show_graph_cnt",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 310,
    "y": 720,
    "wires": [
      [
        "edfdfd830d98ce95"
      ]
    ]
  },
  {
    "id": "edfdfd830d98ce95",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2bool",
    "func": "msg.payload = (msg?.payload?.toLowerCase() === 'true');\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 720,
    "wires": [
      [
        "8ee3142b6bad2847"
      ]
    ]
  },
  {
    "id": "8ee3142b6bad2847",
    "type": "ui-switch",
    "z": "c4f677cd277b409d",
    "name": "ShowCurrentGraph",
    "label": "Show Home Page Current Graph",
    "group": "c48e064d37e64bbf",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "layout": "row-left-swapped",
    "clickableArea": "line",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 650,
    "y": 720,
    "wires": [
      [
        "53c569268ad4fd09"
      ]
    ]
  },
  {
    "id": "53c569268ad4fd09",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "CSMS:ShowCurrentGraph",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 910,
    "y": 720,
    "wires": [
      [
        "142237413ab57822",
        "4f2eb882456520c0"
      ]
    ]
  },
  {
    "id": "142237413ab57822",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "bool2str",
    "func": "msg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1140,
    "y": 720,
    "wires": [
      [
        "4994f3046c39b821"
      ]
    ]
  },
  {
    "id": "4994f3046c39b821",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "SET",
    "name": "set ShowGraphCnt",
    "topic": "settings:site:show_graph_cnt",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 1310,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "c10702a72a0cb5b0",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "GET",
    "name": "get ShowGraphCnt",
    "topic": "settings:site:show_graph_pwr",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 310,
    "y": 780,
    "wires": [
      [
        "16163f173f4ddae5"
      ]
    ]
  },
  {
    "id": "16163f173f4ddae5",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "str2bool",
    "func": "msg.payload = (msg?.payload?.toLowerCase() === 'true');\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 780,
    "wires": [
      [
        "0ebeed67fd27c4bf"
      ]
    ]
  },
  {
    "id": "0ebeed67fd27c4bf",
    "type": "ui-switch",
    "z": "c4f677cd277b409d",
    "name": "ShowPowerGraph",
    "label": "Show Home Page Power Graph",
    "group": "c48e064d37e64bbf",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": false,
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "className": "",
    "layout": "row-left-swapped",
    "clickableArea": "line",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 650,
    "y": 780,
    "wires": [
      [
        "d7d6bc36a2c985ee"
      ]
    ]
  },
  {
    "id": "d7d6bc36a2c985ee",
    "type": "change",
    "z": "c4f677cd277b409d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "CSMS:ShowPowerGraph",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 900,
    "y": 780,
    "wires": [
      [
        "45a7caf34a0aa0a9",
        "4f2eb882456520c0"
      ]
    ]
  },
  {
    "id": "45a7caf34a0aa0a9",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "bool2str",
    "func": "msg.payload = `${msg.payload}`\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1120,
    "y": 780,
    "wires": [
      [
        "72b9e3775f903266"
      ]
    ]
  },
  {
    "id": "72b9e3775f903266",
    "type": "redis-command",
    "z": "c4f677cd277b409d",
    "server": "0430675ed6c7cd83",
    "command": "SET",
    "name": "set ShowGraphCnt",
    "topic": "settings:site:show_graph_pwr",
    "params": "[]",
    "paramsType": "json",
    "payloadType": "json",
    "block": false,
    "x": 1310,
    "y": 780,
    "wires": [
      []
    ]
  },
  {
    "id": "3be95eeae5f0a952",
    "type": "function",
    "z": "c4f677cd277b409d",
    "name": "function 8",
    "func": "if (!msg?.payload) msg.payload = \"/assets/cl3.png\"\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 400,
    "wires": [
      [
        "effb1e3caf4af0f1"
      ]
    ]
  }
]